*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.my-navbar{
    background-color: #F55A5A;
    display: flex;
    height:55px;
    align-items: center;
justify-content: center;
}
.image{
border-radius: 5px;
}

.mynavtitle{
    color: #FFF;
    font-family: Inter;
    font-size: 14.461px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.085px;
    padding: 4px 0px 4px 7px;
    }

.my-country{
    color: #2B283A;
font-family: Inter;
font-size: 10.24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.741px;
margin-left: 4px;
}
.my-link{   
font-family: Inter;
font-size: 10.24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
text-underline-offset: 2px;
margin-left: 12px;
}
.my-link>a{
    color: #918E9B;
}

.my-place{
    color: #2B283A;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.my-date{
    color: #2B283A;
font-family: Inter;
font-size: 10.24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 7px;
}
.my-description{
    color: #2B283A;
font-family: Inter;
font-size: 10.24px;
font-style: normal;
font-weight: 400;
line-height: 15.36px;
margin-top: 9px;
}
.card{
    column-gap: 19px;
    display: flex;
    padding: 40px 40px 0px;
    
}
.container{
    position: relative;
}
hr{
    color: #F5F5F5;
    width: calc(100vw - 80px);
 transform: translateX(40px);
   position: absolute;
   bottom: -20px;
}
